.idea
/venv_win
/venv_lin
/download/creodias_credentials.py
/download/data
/download/__pycache__
/preprocessing/data
/preprocessing/__pycache__/
GitHub_SSH_notes.txt
/data_analysis/one_to_one_compare
/data_analysis/data
